<?xml version="1.0" encoding="utf-8"?>
<mes:GenericMetadata xmlns:mes="http://www.sdmx.org/resources/sdmxml/schemas/v2_1/message" xmlns:gen="http://www.sdmx.org/resources/sdmxml/schemas/v2_1/metadata/generic" xmlns:com="http://www.sdmx.org/resources/sdmxml/schemas/v2_1/common">
  <mes:Header>
    <mes:ID>{{ id }}</mes:ID>
    <mes:Test>{{ test }}</mes:Test>
    <mes:Prepared>{{ prepared }}</mes:Prepared>
    <mes:Sender id="{{ sender }}"/>
    <mes:Structure structureID="MDS1">
      <com:Structure>
        <URN>urn:sdmx:org.sdmx.infomodel.metadatastructure.MetadataStructure=IAEG-SDGs:SDG_MSD(0.3)</URN>
      </com:Structure>
    </mes:Structure>
  </mes:Header>
  {% for series in serieses %}
  <mes:MetadataSet structureRef="MDS1" setID="{{ series.set_id }}">
    <com:Name xml:lang="en">SDG METADATA SET</com:Name>
    <gen:Report id="SDG_META_RPT">
      <gen:Target id="KEY_TARGET">
        <gen:ReferenceValue id="DIMENSION_DESCRIPTOR_VALUES_TARGET">
          <gen:DataKey>
            <com:KeyValue id="SERIES">
              <com:Value>{{ series.series }}</com:Value>
            </com:KeyValue>
            <com:KeyValue id="REPORTING_TYPE">
              <com:Value>{{ series.reporting_type }}</com:Value>
            </com:KeyValue>
            <com:KeyValue id="REF_AREA">
              <com:Value>{{ series.ref_area }}</com:Value>
            </com:KeyValue>
          </gen:DataKey>
        </gen:ReferenceValue>
        <gen:ReferenceValue id="Dataflow">
          <gen:ObjectReference>
            <URN>urn:sdmx:org.sdmx.infomodel.datastructure.Dataflow=IAEG-SDGs:DF_SDG_GLC(1.0)</URN>
          </gen:ObjectReference>
        </gen:ReferenceValue>
      </gen:Target>
      <gen:AttributeSet>
        {% for concept in series.concepts %}
        <gen:ReportedAttribute id="{{ concept.key }}">
          <com:Text xml:lang="{{ language }}"><![CDATA[{{ concept.value }}]]></com:Text>
        </gen:ReportedAttribute>
        {% endfor %}
      </gen:AttributeSet>
    </gen:Report>
  </mes:MetadataSet>
  {% endfor %}
</mes:GenericMetadata>
