pyyaml
pandas==1.3.5
pydantic==1.*
sdmx1
gitpython
jsonschema
requests
humanize
unicode-slugify
natsort
pyjstat
mammoth
pyquery
frictionless==4.40.8
csvw
Jinja2
rfc3986<2
git+https://github.com/dougmet/yamlmd
openpyxl==3.1.0
typer==0.11.0
numpy<2
